body {
height:100vh;
  font-family: Roboto, sans-serif;
  font-weight: bold;
 
}

.head
{

font-size: 1.5rem;

}
  
  a {
 
    color:white;
    text-decoration: none;
    cursor: grab;
  }

  .Button {
    font-size: medium;
    color: ;
    position: relative;
    top: 0px;
    padding: 15px 25px;
    border: solid #61FFE4 3px;
    border-radius: 20px;
    margin: 25px 50%;
    box-shadow: 0px 10px 0px #61FFE4;
    background-color:#61FFE4;
    
  }
  
  .Button:hover {
    top: 2px;
    box-shadow: 0px 8px 0px #61FFE4;
  }
  .Button:active {
    background: #61FFE4;
    transition: 100ms ease;
    top: 8px;
    box-shadow: 0px 2px 0px #61FFE4;
  }
  
  .White {
    background: #fff;
  }
  .White:hover {
    background: #eee;
  }
  .White:active {
    background: #4CE8A1;
  }


  